.app-input-container {
  display: flex;
  flex-direction: column;
}
  
.app-input-container:first-of-type {
  margin-bottom: 3em;
}
  
.app-input-container > label {
  font-size: 1.5em;
  margin-bottom: .2em;
}

.app-input {
  padding: .6em .6em .6em 0;
  border: none;
  border-bottom: 1px solid;
}

.app-input:focus {
  outline: none;
  border-color: deepskyblue;
}

.input-error {
  color: red;
  margin-top: .5em;
}