.login-form {
  display:-webkit-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}
  
.login-form-fieldset {
  width: 100%;
  border: none;
}

.form-submit {
  margin-top: 3em;
  width: 100%;
  padding: .8em;
  text-align: center;
  border: none;
  border-radius: 20px;
  background: deepskyblue;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}