* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: deepskyblue;
}

#root {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  position: relative;
  width: 100%;
  max-width: 500px;
  background: white;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 3px 6px 7px rgba(0, 0, 0, .2);
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.login-form-fieldset {
  width: 100%;
  border: none;
}

.app-input-container {
  display: flex;
  flex-direction: column;
}

.app-input-container:first-of-type {
  margin-bottom: 3em;
}

.app-input-container > label {
  font-size: 1.5em;
  margin-bottom: .2em;
}

.app-input {
  padding: .6em .6em .6em 0;
  border: none;
  border-bottom: 1px solid;
}

.app-input:focus {
  outline: none;
  border-color: deepskyblue;
}

.error {
  border-color: red;
}

.input-error {
  color: red;
  margin-top: .5em;

}

.app-checkobox {
  margin-top: .8em;
  display: flex;
  align-items: center;
}

.app-checkobox input {
  margin: 0;
}

.app-checkobox label {
  margin-left: .5em;
}

.form-submit {
  margin-top: 3em;
  width: 100%;
  padding: .8em;
  text-align: center;
  border: none;
  border-radius: 20px;
  background: deepskyblue;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.loader {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,.4);
  border-radius: 20px;
}

.loader i {
  font-size: 4em;
  color: deepskyblue;
}

.error-banner {
  width: 100%;
  border: 2px solid red;
  border-radius: 15px;
}

.error-banner p {
  margin: .5em 0;
  padding-left: .8em;
}

.login-successful {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-successful i {
  font-size: 5em;
  color: green;
}

.login-successful p {
  color: green;
  font-weight: 600;
  font-size: 2em;
}
