* {
  box-sizing: border-box;
}

body {
  margin: 0;
  background: deepskyblue;
}

#root {
  width: 95%;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.app {
  position: relative;
  width: 100%;
  max-width: 500px;
  min-height: 450px;
  background: white;
  padding: 2em;
  border-radius: 20px;
  box-shadow: 3px 6px 7px rgba(0, 0, 0, .2);
}

.border-red {
  border-color: red;
}
